/* Main Styles for Constant Elements */

body {
  background-color: #36b55c;
  color: white;
  font-family: 'Playfair Display', serif;
}

.container {
  height: auto;
  width: 85%;
  margin: 5em auto;
}

#quote-box {
  display: block;
  margin: auto;
  top: 20%;
  left: 10%;
  right: 10%;
  width: 80%;
  line-height: .5;
}
#author-box {
  text-align: right;
  margin-top: -3.5em;
  padding: 0;
  line-height: .5;
}

.buttons {
  width: 12em;
  display: block;
  left: 50%;
  margin: 5em auto;
  border-radius: 15px;
  border: 2px solid #fff;
  color: #fff;
  background-color: #36b55c;
  padding: 15px 0;
  transition: .5s ;
}
.buttons:hover {
  background-color: rgba(255,255,255,.25);
}
.buttons:focus {
  outline: none;
}

#quoteButtons {
  height: auto;
  width: 85%;
  margin: auto;
}

#loadQuote {
  float: left;
  width: 30%;
  margin-left: 5%;
}

#loadSlideshow {
  float: right;
  width: 30%;
  margin-right: 5%;
}

#controls {
  height: auto;
  width: 85%;
  margin: auto;
}

#slowSlideshow {
  display: inline-block;
  float: left;
  width: 30%;
}

#stopSlideshow {
  display: inline-block;
  width: 30%;
  margin-left: 5%;
  margin-right: 5%;
}

#speedSlideshow {
  display: inline-block;
  float: right;
  width: 30%;
}

/* styes for ramdon quote elements */

.quote {
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.1;
  position: relative;
  margin: 0;
  }
.quote:before, .quote:after {
  font-size: 6rem;
  line-height: 2.5rem;
  position: absolute;
}
.quote:before {
  content: "“";
  top: .25em;
  left: -.5em;
}
.quote:after {
  content: "”";
  bottom: -.1em;
  margin-left: .1em;
  position: absolute;
}
.source {
  font-size: 1.25rem;
  letter-spacing: 0.05em;
  line-height: 1.1;
  text-align: right;
  margin-right: 4em;
}
.source:before {
  content: "—";
}
.citation {
  font-style: italic;
  text-align: right;
}

.year {
  text-align: right;
}

.year:before {
  content: ", ";
  font-style: normal;
}

.category {
  font-style: italic;
  text-align: right;
}

.category:before {
  content: " : ";
  font-style: normal;
}

.profession {
  text-align: right;
  margin-right: 5em;
  letter-spacing: .05em;
  height: 1em;
}
.profession:before {
  content: "profession: ";
  font-style: normal;
  padding-left: 1em;
  font-size: .8em;
}

.born {
  text-align: right;
  margin-right: 5em;
  letter-spacing: .05em;
  height: 1em;
}
.born:before {
  content: "born: ";
  font-style: normal;
  padding-left: 1em;
  font-size: .8em;
}
.death {
  text-align: right;
  margin-right: 5em;
  letter-spacing: .05em;
  height: 1em;
}
.death:before {
  content: "died: ";
  font-style: normal;
  padding-left: 1em;
  font-size: .8em;
}

/* media query */

@media (max-width: 420px) {
  .quote {
    font-size: 2.5rem;
  }
  .quote:before, .quote:after {
    font-size: 3rem;
  }
  .source {
    font-size: 1rem;
  }
}
